.item-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.item {
  align-items: center;
  display: flex;
}

.item img {
  height: 20px;
  margin-right: 8px;
  width: 20px;
}